.product-small-img::-webkit-scrollbar {
    width: 20px;        
  }
  
.product-small-img::-webkit-scrollbar-track {
    background: rgb(255, 170, 0);   
    border-radius: 0px 0px 10px 10px;      
  }
.product-small-img::-webkit-scrollbar-thumb {
    background-color: rgb(228, 0, 0);
    border-radius: 0px 0px 10px 10px;    
    border: 1px solid black;
    z-index: -1;
  }




